## APP
TODOLISTIFY_PORT=3000
TODOLISTIFY_FRONTEND_URL="*"

## Database
TODOLISTIFY_DATABASE_HOST=localhost
TODOLISTIFY_DATABASE_PORT=5432
TODOLISTIFY_DATABASE_USERNAME=postgres
TODOLISTIFY_DATABASE_PASSWORD=
TODOLISTIFY_DATABASE_NAME=to_do_listify
TODOLISTIFY_DATABASE_SYNC=true

## JWT
TODOLISTIFY_JWT_SECRET=
TODOLISTIFY_JWT_EXPIRESIN=3h
TODOLISTIFY_JWT_LONG_EXPIRESIN=3d

## Password
TODOLISTIFY_PASSWORD_SALT_RANGE=12